<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PicParadise - Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/photogrid_utils.js"></script>
    <script>
    $(function () {
        var host = <%- JSON.stringify(host) %>;
        

        console.log(host);

        $(document).on('click', '#doUpload', function () {
            upLoadNow();
        })

        var socket = io(host);

        socket.on('status', function (data) {
            showStatus(data.msg, data.delay);
        });

        // socket.on('doUpdate', function () {
        //     renderList();
        // });

        function renderList () {
            $('.row').html('');

            $.ajax({
                url: host + '/getimages',
                type: "GET",
                success: function (data) {
                    var imageList = JSON.parse(data);

                    for(var i = 0; i < imageList.length; i++) {
                        var str = '<div class="col-sm-6 col-md-3">';
                        str += '<div class="thumbnail" id="photoList">';
                        str += '<img id="myImg" src="https://d1uev2sppo24zv.cloudfront.net/' + imageList[i].filename + '" alt="">';
                        str += '<div class="voteUpImg">';     
                        str += '<a href="#" data-photoid="' + imageList[i]._id + '" class="voteUp">';
                        str += '<p><img src="/img/voteup.png" alt="Click Here to Vote Up !">';
                        str += '<span>' + imageList[i].votes + '</span></p>';
                        str += '</a>';
                        str += '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySaveModal" id="saveButton" data-photofilename="' + imageList[i].filename + '">Save</button>';
                        str += '</div>';
                        str += '</div>';
                        str += '</div>';

                        $('.row').append(str);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        renderList();

        function upLoadNow () {
            $('.progress').fadeIn(100);
            var uploadURL = host + '/upload';
            var uploadFile = $('.uploadPic');

            if(uploadFile.val() != '') {
                var form = new FormData();
                form.append("upload", uploadFile[0].files[0]);

                // Perform the AJAX POST requrest and send the file
                ajax({
                    method: 'post',
                    url: uploadURL,
                    success: function () {
                        $('.progress').fadeOut(200);
                        uploadFile.val('');
                    },
                    progress: function (event) {
                        if(event.lengthComputable) {
                            var perc = Math.round((event.loaded * 100) / event.total);
                            $('.progress').css('width', (perc + '%'))
                        }
                    },
                    payload: form
                });
            }
        }

        // click to vote
        $(document).on('click', '.voteUp', function (e) {
            var that = $(this);

            $.ajax({
                url: host + '/voteup/' + that.data('photoid'),
                type: "GET",
                success: function (data) {
                    var parseData = JSON.parse(data);
                    that.find('span').html(parseData.votes);
                },
                error: function (error) {
                    console.log(error);
                }
            });

            return false;
        });

        // click save button of photo and save to board 
        $(document).on('click', '#saveButton', function (e) {
        	var selectedphotofilename = $(this).data('photofilename');
        	
        	$('input[name="photofilename"]').val(selectedphotofilename);
        	// var selectedBoardId;

        	// $('select.form-control.boardlist').change(function () {
        	// 	selectedBoardId = $(this).find(':selected').data('boardid');
        	// });

        	// $('#savetoboardbutton').click(function () {
        	// 	$.ajax({
        	// 		url: host + '/savephoto',
        	// 		data: {
        	// 			photoId: selectedphotoId,
        	// 			boardId: selectedBoardId,
        	// 		},
        	// 		type: "GET", 
        	// 		dataType: "text",
        	// 		success: function () {
        	// 			// var parseData = JSON.parse(data);
        	// 			// $('#messages').append(data);
        	// 		},
        	// 		error: function (error) {
         //         	   console.log(error);
         //        	}
        	// 	});
         //    	return false;
        	// });
        	// return false;
        });

        // show and hide save button when mouse over or out
        $(document).on({
            mouseover: function () {
                $(this).find('#saveButton').show();
            },
            mouseout: function () {
                $(this).find('#saveButton').hide();
            }
        }, '#photoList');

        $(document).on('click', '#myImg', function (e) {
            var img = $(this)[0];
            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("img01");

            modal.style.display = "block";
            modalImg.src = img.src;
            modalImg.alt = img.alt;

            var span = document.getElementsByClassName("close")[0];
            span.onclick = function () {
                    modal.style.display = "none";
            }
        });

    });
    </script>
</head>
<body>
    <header>
        <%- include('./layouts/top_nav') %>
    </header>
    <div>
        <!-- <div class="controls">
            <input type="file" name="uploadPic" class="uploadPic">
            <button id="doUpload">Upload</button>
            <div class="progressBarDiv">
                <div class="progress"></div>
            </div>
            <h5 class="status"></h5>
        </div> -->

        <%- include('./shared/messages') %>
        <%- include('./shared/saveModal.ejs') %>
        <%- include('./shared/createBoardModal.ejs') %>


        <!-- ImageModal -->
        <div id="imageModal" class="modal image">
            <span class="close" onclick="document.getElementById('imageModal').style.display='none'">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        <div class="row">
        </div>
    </div>
</body>
</html>