<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= currentUser.username %> on PicParadise</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
    $(function () {
        var host = <%- JSON.stringify(host) %>

        $(document).on("click", "#editButton", function () {
            var boardId = $(this).data('boardid');
            var photoFilename = $(this).data('photofilename');
            // $('input[name="boardIdinEditModal"]').val(boardId);
            $('input[name="photoFilenameinEditModal"]').val(photoFilename);
            $('input[name="photoFilenameinDeletePinModal"]').val(photoFilename);
        });

        $(document).on('click', '#saveButton', function (e) {
            var selectedphotofilename = $(this).data('photofilename');
            
            $('input[name="photofilename"]').val(selectedphotofilename);
            $('input[name="photoFilenameinCreateBoardModal"]').val(selectedphotofilename);
        });

        $(document).on({
            mouseover: function () {
                $(this).find('#editButton').show();
            },
            mouseout: function () {
                $(this).find('#editButton').hide();
            }
        }, '#pinList');

        // show and hide save button when mouse over or out
        $(document).on({
            mouseover: function () {
                $(this).find('#saveButton').show();
            },
            mouseout: function () {
                $(this).find('#saveButton').hide();
            }
        }, '#pinList');
        
    });
    </script>
</head>
<body>
    <header>
        <%- include('./layouts/top_nav') %>
    </header>
    <div class="container">

        <%- include('./shared/messages') %>

        <div>
            <h1><%= board.title.toUpperCase() %></h1>
        </div>
        <div>
            <% if(board.pins.length === 1) { %>
                <p><%= board.pins.length %> Pin</p>
            <% } else { %>
                <p><%= board.pins.length %> Pins</p>
            <% } %>
        </div>
        <div class="row">
            <% board.pins.forEach(function (pin) { %>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail" id="pinList">
                        <img src="https://d1uev2sppo24zv.cloudfront.net/<%= pin.filename %>" alt="">
                        
                        <div class="caption">
                            <p>Saved to <a href="/<%= user.username %>/boards/<%= board.title %>"><%= board.title %></a><span class="glyphicon glyphicon-heart" aria-hidden="true" style="float: right;"><%= pin.votes %></span></p>
                            
                            <% if(currentUser.username === user.username) { %>
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myEditModal" id="editButton" data-boardid="<%= board.id%>" data-photofilename="<%= pin.filename %>">Edit</button>
                            <% } else { %>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySaveModal" id="saveButton" data-photofilename="<%= pin.filename %>">Save</button>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <!-- editModal -->
    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Edit this pin</h3>
                </div>
                
                <form role="form" action='/editpin' method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Board</label>
                            <select class="form-control" name="boardid">
                                <option value="<%= board.id %>"><%= board.title %></option>
                                <% user.boards.forEach(function (boardItem) { %>
                                    <%  if(boardItem.id !== board.id) { %>
                                        <option value="<%= boardItem.id %>"><%= boardItem.title %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                            <input type="hidden" name="photoFilenameinEditModal" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DeletePinModel" style="float: left;">Delete Pin</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="savetoboardbutton">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- deletePinModel -->
    <div class="modal fade" tabindex="-1" role="dialog" id="DeletePinModel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p>Once you delete a Pin, you can't undo it!</p>
          </div>
          <div class="modal-footer">
            <form action="/deletepin" method="POST">
                <input type="hidden" name="photoFilenameinDeletePinModal" value="">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete pin</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <%- include('./shared/saveModal') %>
    <%- include('./shared/createBoardModal') %>
</body>
</html>