<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= currentUser.username %> on PicParadise</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
    $(function () {
        var host = <%- JSON.stringify(host) %>

        $(document).on("click", "#editButton", function () {
            var boardId = $(this).data('boardid');
            var photoFilename = $(this).data('photofilename');
            // $('input[name="boardIdinEditModal"]').val(boardId);
            $('input[name="photoFilenameinEditModal"]').val(photoFilename);
            $('input[name="photoFilenameinDeletePinModal"]').val(photoFilename);
        });

        $(document).on('click', '#saveButton', function (e) {
            var selectedphotofilename = $(this).data('photofilename');
            
            $('input[name="photofilename"]').val(selectedphotofilename);
            $('input[name="photoFilenameinCreateBoardModal"]').val(selectedphotofilename);
        });

        $(document).on({
            mouseover: function () {
                $(this).find('#editButton').show();
            },
            mouseout: function () {
                $(this).find('#editButton').hide();
            }
        }, '#pinList');

        // show and hide save button when mouse over or out
        $(document).on({
            mouseover: function () {
                $(this).find('#saveButton').show();
            },
            mouseout: function () {
                $(this).find('#saveButton').hide();
            }
        }, '#pinList');
        
    });
    </script>
</head>
<body>
    <header>
        <%- include('./layouts/top_nav') %>
    </header>
    <div class="container">

        <%- include('./shared/messages') %>

        <div>
            <h1><%= board.title.toUpperCase() %></h1>
        </div>
        <div>
            <% if(board.pins.length === 1) { %>
                <p><%= board.pins.length %> Pin</p>
            <% } else { %>
                <p><%= board.pins.length %> Pins</p>
            <% } %>
        </div>
        <div class="row">
            <% board.pins.forEach(function (pin) { %>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail" id="pinList">
                        <img src="https://d1uev2sppo24zv.cloudfront.net/<%= pin.filename %>" alt="">
                        
                        <div class="caption">
                            <p>Saved to <a href="/<%= user.username %>/boards/<%= board.title %>"><%= board.title %></a><span class="glyphicon glyphicon-heart" aria-hidden="true" style="float: right;"><%= pin.votes %></span></p>
                            
                            <% if(currentUser.username === user.username) { %>
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editPinModal" id="editButton" data-boardid="<%= board.id%>" data-photofilename="<%= pin.filename %>">Edit</button>
                            <% } else { %>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySaveModal" id="saveButton" data-photofilename="<%= pin.filename %>">Save</button>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <%- include('./shared/editPinModal') %>
    <%- include('./shared/deletePinModal') %>
    <%- include('./shared/saveModal') %>
    <%- include('./shared/createBoardModal') %>
</body>
</html>