<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= currentUser.username %> on PicParadise</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/pp_utils.js"></script>
    <script src="/js/pinterest_grid.js"></script>
    <script>
    $(function () {
        var host = <%- JSON.stringify(host) %>
        var user = <%- JSON.stringify(user) %>
        var socket = io.connect(host);

        socket.on('connect', function () {
            console.log('connecting!');
        });

        $(document).on("click", "#editButton", function () {
            var boardId = $(this).data('boardid');
            var photoFilename = $(this).data('photofilename');
            var boardTitle = $(this).data('boardtitle');
            selectOptions(boardId, boardTitle, photoFilename);
            $('input[name="photoFilenameinEditModal"]').val(photoFilename);
            $('input[name="photoFilenameinDeletePinModal"]').val(photoFilename);
        });

        $(document).on('click', '#saveButton', function (e) {
            var selectedphotofilename = $(this).data('photofilename');
            
            $('input[name="photofilename"]').val(selectedphotofilename);
            $('input[name="photoFilenameinCreateBoardModal"]').val(selectedphotofilename);
        });

        function selectOptions (boardId, boardTitle, filename) {
            var str = '<option value="' + boardId + '">' + boardTitle + "</option>";
            
            user.boards.forEach(function (boardItem) {
                if(boardItem._id !== boardId) {
                    str += '<option value="' + boardItem._id + '">' + boardItem.title + '</option>';
                }
            });

            $("select").html(str);
        }

        $(document).on({
            mouseover: function () {
                $(this).find('#editButton').show();
            },
            mouseout: function () {
                $(this).find('#editButton').hide();
            }
        }, '#pinList');

        // show and hide save button when mouse over or out
        $(document).on({
            mouseover: function () {
                $(this).find('#saveButton').show();
            },
            mouseout: function () {
                $(this).find('#saveButton').hide();
            }
        }, '#pinList');

        function uploadPin () {
            $('.progress-bar').text('0%');
            $('.progress-bar').width('0%');
            // $('.progress').fadeIn(100);
            var uploadURL = host + '/upload';
            var uploadFile = $('.uploadPic');

            if(uploadFile.val() != '') {
                var form = new FormData();
                form.append("upload", uploadFile[0].files[0]);

                $.ajax({
                    url: uploadURL,
                    type: 'POST',
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        socket.on('doUpdate', function (data) {
                            $('input[name="photofilename"]').val(data.filename);
                            $('input[name="photoFilenameinCreateBoardModal"]').val(data.filename);
                            uploadFile.val('');
                            $('#AddPinModal').modal('hide');
                            $('#mySaveModal').modal('show');
                        });
                    },
                    xhr: function () {
                        var xhr = new XMLHttpRequest();

                        xhr.upload.addEventListener('progress', function (evt) {

                            if(evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);

                                $('.progress-bar').text(percentComplete + '%');
                                $('.progress-bar').width(percentComplete + '%');

                                if(percentComplete === 100) {
                                    $('.progress-bar').html('Done');
                                }
                            }

                        }, false);

                        return xhr;
                    }
                });
            }
        }

        $(document).on('click', '#uploadPin', function () {
            uploadPin();
        });

        socket.on('status', function (data) {
            showStatus(data.msg, data.delay);
        });

        

        $(document).ready(function() {
            $('#pinBoot').pinterest_grid({
                no_columns: 4,
                padding_x: 10,
                padding_y: 10,
                margin_bottom: 50,
                single_column_breakpoint: 700
            });
        });
        
    });
    </script>
</head>
<body>
    <header>
        <%- include('./layouts/top_nav') %>
    </header>
    <div class="container">
        <%- include('./shared/messages') %>

        <div>
            <% if(currentUser.username !== user.username) { %>
                <% if(current.followingUsers.includes(user.id)) { %>
                    <button class="btn btn-default unfollowUser" data-userid="<%= user._id %>">Unfollow</button>
                <% } else { %>
                    <button class="btn btn-danger followUser" data-userid="<%= user._id %>">Follow</button>
                <% } %>
            <% } %>
            <h1>
                <% if(typeof user.profilePic === 'undefined') { %>
                    <img src="https://d1uev2sppo24zv.cloudfront.net/noProfilePic.jpg" class="circular" alt="Responsive image">
                <% } else { %>
                    <img src="<%= user.profilePic %>" class="circular" alt="Responsive image">
                <% } %>
                  <%= user.username %>  
                <% if(currentUser.username === user.username) { %>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border: none; background-color: #eee;"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" type="button" data-toggle="modal" data-target="#editProfilePicModal">Edit profile picture</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </div>
                <% } %>
            </h1>       
        </div>

        <div>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/<%= user.username %>/boards">Board (<%= user.boards.length %>)</a></li>
                <li role="presentation" class="active"><a href="/<%= user.username %>/pins">Pins (<%= user.getPinsAmount() %>)</a></li>
                <li role="presentation"><a href="/<%= user.username %>/followers">Followers (<%= user.followers.length %>)</a></li>
                <li role="presentation"><a href="/<%= user.username %>/following">Following Boards (<%= user.followingBoards.length %>)</a></li>
                <li role="presentation"><a href="/<%= user.username %>/followinguser">Following Users (<%= user.followingUsers.length %>)</a></li>
            </ul>
        </div>
        <div class="row">
            <div id="pinBoot">
            <% if(currentUser.username === user.username) { %>
                <div class="white-panel">
                    <!-- <div class="thumbnail"> -->
                        <button type="button" style="height: 338px; width: 100%;" data-toggle="modal" data-target="#AddPinModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><h5>Create a pin</h5></button>
                    <!-- </div> -->
                </div>
            <% } %>
            <% user.boards.forEach(function (board) { %>
                <%  board.pins.forEach(function (pin) { %>
                    <div class="white-panel" id="pinList">
                        <!-- <div class="thumbnail"> -->
                            <img src="https://d1uev2sppo24zv.cloudfront.net/<%= pin.filename %>" id="myImg" alt="">
                            <!-- <div class="caption"> -->
                                
                                <p>Saved to <a href="/<%= user.username %>/boards/<%= board.title %>"><%= board.title %></a><span class="glyphicon glyphicon-heart" aria-hidden="true" style="float: right;"><%= pin.votes %></span></p>

                                <% if(currentUser.username === user.username) { %>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myEditModal" id="editButton" data-photofilename="<%= pin.filename %>" data-boardid="<%=  board.id %>" data-boardtitle="<%= board.title %>">Edit</button>
                                <% } else { %>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySaveModal" id="saveButton" data-photofilename="<%= pin.filename %>">Save</button>
                                <% } %>
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                <% }); %>
            <% }); %>
            </div>
        </div>
    </div>

    <!-- saveModal -->
    <div class="modal fade" id="mySaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Pick a board</h3>
                </div>
                <form role="form" action='/savephoto' method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                          <label>Boards list (select one):</label>
                          <select class="form-control boardlist" name="boardid">
                            <option value="" disabled selected>Choose a board</option>
                            <% if(currentUser.boards.length !== 0) { %>
                                <% currentUser.boards.forEach(function (board) { %>
                                    <option value="<%= board._id %>"><%= board.title %></option>
                                <% }); %>
                            <% } %>
                          </select>
                          <input type="hidden" name="photofilename" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateBoardModal" style="float: left;">Create a Board</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="savetoboardbutton">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <%- include('./shared/createBoardModal') %>

    <!-- editModal -->
    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Edit this pin</h3>
                </div>
                
                <form role="form" action='/editpin' method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Board</label>
                            <select class="form-control" name="boardid">
                            </select>
                            <input type="hidden" name="photoFilenameinEditModal" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DeletePinModel" style="float: left;">Delete Pin</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="savetoboardbutton">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- deletePinModel -->
    <div class="modal fade" tabindex="-1" role="dialog" id="DeletePinModel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p>Once you delete a Pin, you can't undo it!</p>
          </div>
          <div class="modal-footer">
            <form action="/deletepin" method="POST">
                <input type="hidden" name="photoFilenameinDeletePinModal" value="">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete pin</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <%- include('./shared/addPinModal') %>
    <%- include('./shared/editProfilePicModal') %>
</body>
</html>