<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= currentUser.username %> on PicParadise</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/photogrid_utils.js"></script>
    <script>
    $(function () {
        var host = <%- JSON.stringify(host) %>;

        $(document).on('click', '.followUser', function () {
            var that = $(this);
            var userId = that.data('userid');

            $.ajax({
                url: host + '/followuser',
                type: 'POST',
                data: {
                    userId: userId
                },
                success: function () {
                    that.prop('class', 'btn btn-default unfollowUser').html('Unfollow');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $(document).on('click', '.unfollowUser', function () {
            var that = $(this);
            var userId = that.data('userid');

            $.ajax({
                url: host + '/unfollowuser',
                type: 'POST',
                data: {
                    userId: userId
                },
                success: function () {
                    that.prop('class', 'btn btn-danger followUser').html('Follow');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $(document).on("click", ".follow", function () {
            var that = $(this);
            var userId = that.data('userid');

            $.ajax({
                url: host + '/followuser',
                type: 'POST',
                data: {
                    userId: userId
                },
                success: function () {
                    that.prop('class', 'btn btn-default unfollow').html('Unfollow');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $(document).on("click", ".unfollow", function () {
            var that = $(this);
            var userId = that.data('userid');

            $.ajax({
                url: host + '/unfollowuser',
                type: 'POST',
                data: {
                    userId: userId
                },
                success: function () {
                    that.prop('class', 'btn btn-danger follow').html('Follow');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
</head>
<body>
    <header>
        <%- include('./layouts/top_nav') %>
    </header>
    <div class="container">
        <%- include('./shared/messages') %>
        
        <div>
            <% if(currentUser.username !== user.username) { %>
                <% if(currentUser.followingUsers.includes(user.id)) { %>
                    <button class="btn btn-default unfollowUser" data-userid="<%= user._id %>">Unfollow</button>
                <% } else { %>
                    <button class="btn btn-danger followUser" data-userid="<%= user._id %>">Follow</button>
                <% } %>
            <% } %>
            <h1>
                <% if(typeof user.profilePic === 'undefined') { %>
                    <img src="https://d1uev2sppo24zv.cloudfront.net/noProfilePic.jpg" class="circular" alt="Responsive image">
                <% } else { %>
                    <img src="<%= user.profilePic %>" class="circular" alt="Responsive image">
                <% } %>
                  <%= user.username %>  
                <% if(currentUser.username === user.username) { %>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border: none; background-color: #eee;"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" type="button" data-toggle="modal" data-target="#editProfilePicModal">Edit profile picture</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </div>
                <% } %>
            </h1>       
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/<%= user.username %>/boards">Board (<%= user.boards.length %>)</a></li>
                <li role="presentation"><a href="/<%= user.username %>/pins">Pins (<%= user.getPinsAmount() %>)</a></li>
                <li role="presentation"><a href="/<%= user.username %>/followers">Followers (<%= user.followers.length %>)</a></li>
                <li role="presentation"><a href="/<%= user.username %>/following">Following Boards (<%= user.followingBoards.length %>)</a></li>
                <li role="presentation" class="active"><a href="/<%= user.username %>/followinguser">Following Users (<%= user.followingUsers.length %>)</a></li>
            </ul>
        </div>
        <br>
        <div class="row">
            <% user.followingUsers.forEach(function (user) { %>
                <div class="col-sm-6 col-md-3">
                    <div class="text-center">    
                        <a href="/<%= user.username%>">
                        
                        <% if(typeof user.profilePic === 'undefined') { %>
                            <img class="circular" src="https://d1uev2sppo24zv.cloudfront.net/noProfilePic.jpg" alt="Responsive image">
                        <% } else { %>
                            <img class="circular" src="<%= user.profilePic %>" alt="Responsive image">
                        <% } %>

                            <h3 class="text-center"><%= user.username.toUpperCase() %></h3>
                        </a>
                        <% if(currentUser.username !== user.username) { %>
                            <% if(currentUser.followingUsers.includes(user.id)) { %>
                                <button type="button" class="btn btn-default unfollow" data-userid="<%= user._id %>" style="width: 180px;">Unfollow</button>
                            <% } else { %>
                                <button type="button" class="btn btn-danger follow" data-userid="<%= user._id %>" style="width: 180px;">Follow</button>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>