<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= currentUser.username %> on PicParadise</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
    $(function () {
        var host = <%- JSON.stringify(host) %>;

        $(document).on("click", "#editButton", function () {
            var boardTitle = $(this).data('boardtitle');
            var boardId = $(this).data('boardid');
            $('#showBoardTitle').append(boardTitle.toUpperCase());
            $('input[name="boardTitleinEditModal"]').val(boardTitle);
            $('input[name="boardIdinEditModal"]').val(boardId);
            $('input[name="boardTitleinDeleteBoardModel"]').val(boardTitle);
    
            return false;
        });

        $(document).on("click", ".follow", function () {
            var that = $(this);
            var boardId = that.data('boardid');
            var ownerId = that.data('ownerid');

            $.ajax({
                url: host + '/followboard',
                type: 'POST',
                data: {
                    boardId: boardId,
                    ownerId: ownerId
                },
                success: function () {
                    that.prop('class', 'btn btn-default unfollow').html('Unfollow');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $(document).on("click", ".unfollow", function () {
            var that = $(this);
            var boardId = that.data('boardid');
            var ownerId = that.data('ownerid');

            $.ajax({
                url: host + '/unfollowboard',
                type: 'POST',
                data: {
                    boardId: boardId,
                    ownerId: ownerId
                },
                success: function () {
                    that.prop('class', 'btn btn-danger follow').html('Follow');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
</head>
<body>
    <header>
        <%- include('./layouts/top_nav') %>
    </header>
    <div class="container">
        <%- include('./shared/messages') %>
        <div>
            <h1><%= user.username %></h1>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="/<%= user.username %>/boards">Board (<%= user.boards.length %>)</a></li>
                <li role="presentation"><a href="/<%= user.username %>/pins">Pins (<%= user.getPinsAmount() %>)</a></li>
                <li role="presentation"><a href="#">Followers</a></li>
                <li role="presentation"><a href="#">Following</a></li>
            </ul>
        </div>
        <div class="row">
            <% user.boards.forEach(function (board) { %>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="/<%= user.username%>/boards/<%= board.title %>">
                        <img style="height: 200px; width: 100%;" src="https://d1uev2sppo24zv.cloudfront.net/<%= board.pins[0] %>" alt="">

                        <div class="caption">
                            <h3><%= board.title.toUpperCase() %></h3>
                            <% if(board.pins.length === 1) { %>
                                <p><%= board.pins.length %> Pin</p>
                            <% } else { %>
                                <p><%= board.pins.length %> Pins</p>
                            <% } %>
                        </div>
                        </a>
                        <% if(currentUser.username === user.username) { %>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" id="editButton" data-ownerid="<%= user._id %>" data-boardid="<%=  board._id %>" style="width: 100%;">Edit</button>
                        <% } else { %>
                            <button type="button" class="btn btn-danger follow" id="followButton" data-ownerid="<%= user._id %>" data-boardid="<%=  board._id %>" style="width: 100%;">Follow</button>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    
    <!-- editModal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Edit your board: <span id="showBoardTitle"></span></h3>
                </div>
                <div class="modal-body">
                    <form role="form" action='/editboardtitle' method="POST">
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text" name="boardTitleinEditModal" class="form-control" value=''>
                          <input type="hidden" name="boardIdinEditModal" value="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger" id="savetoboardbutton">Edit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#DeleteBoardModel" data-boardtitle="">Delete Board</button>
                </div>
            </div>
        </div>
    </div>

    <!-- deleteBoardModel -->
    <div class="modal fade" tabindex="-1" role="dialog" id="DeleteBoardModel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p>Once you delete a board and all its Pins, you can't undo it!</p>
          </div>
          <div class="modal-footer">
            <form action="/deleteboard" method="POST">
                <input type="hidden" name="boardTitleinDeleteBoardModel" value="">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete board</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>